<div class="background">
  <main class="container">
    <header class="header">
      <img class="header__profile" />
      <section class="profile">
        <h1 class="profile__name"></h1>
        <p class="profile__location"></p>
      </section>
    </header>

    <div class="swiper">
      <div class="swiper-wrapper"></div>
      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>

    <section class="interaction">
      <i class="fa-regular fa-heart interaction__icons" id="favorite"></i>
      <i class="fa-regular fa-comment interaction__icons" id="comment"></i>
      <i class="fa-regular fa-paper-plane interaction__icons"></i>
    </section>

    <section class="comments" id="comments"></section>

    <form class="postComment">
      <input class="postComment__comment" type="text" id="postComment"/>
      <input class="postComment__post" type="submit" value="Post" />
    </form>
  </main>
</div>
