<div class="background">
  <main class="container">

    <header class="header">
      <img class="header__profile">
      <section class="profile">
        <h1 class="profile__name"></h1>
        <p class="profile__location"></p>
      </section>
    </header>

    <figure class="photos">
      <img class="photos__photo" src="https://picsum.photos/200/300" alt="">
    </figure>

    <section>
      <img>
      <img>
      <img>
    </section>

    <section>
      <article>
        <span></span>
        <p></p>
      </article>
    </section>
    
    <section>
      <form>
        <input type="text">
        <input type="submit">
      </form>
    </section>
    
  </main>
</div>