<div class="background">
  <main class="container">
    <header class="header">
      <img class="header__profile" />
      <section class="profile">
        <h1 class="profile__name"></h1>
        <p class="profile__location"></p>
      </section>
    </header>

    <figure class="photos">
      <img class="photos__photo" src="https://picsum.photos/200" alt="" />
    </figure>

    <section class="iteraction">
      <img class="iteraction__favorite" />
      <img class="iteraction__comment" />
      <img class="iteraction__send" />
    </section>

    <section class="comments" id="comments"></section>

    <form class="postComment">
      <input class="postComment__comment" type="text" />
      <input class="postComment__post" type="submit" value="Post"/>
    </form>
  </main>
</div>
